.inputMessage button{
    background-color: rgb(99, 209, 253);
    border-radius: 10%;
    width: 60px;
    color: white;
    height:40px;
    margin: 0;
    padding: 0;
    border: 0;
}
.inputMessage input{
    height: 30px;
    border-radius: 5%;
    font-size: 20px;
}